/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in Bootstrap
*/
html body {
    padding-bottom: 0px;
    background-color: rgb(42, 42, 42);

    /* overflow: hidden; */
}

.main-contents {
    padding: 1rem 1rem;
    width:fit-content
}

    .main-contents img {
        max-height: 30rem;
        
        margin: 0rem 1rem;
        margin-bottom: 1rem;

        border: 2px solid #ffffff33;
        border-radius: 5px;
    }

/* Some simple CSS rules for styling p, h1 to h6, etc. in the main contents container
*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
    color: white
}
p, ul {
	font-family: 'Open Sans', sans-serif;
    color: white;    
}

p {
    padding-left: 1rem
}

ul {
    padding-left: 3rem;
}

h1 {
    font-size: 29px;
    }

h2 {
    font-size: 31px;
    /* float: left; */
    }

h3 {
    font-size: 18px;
    }

p {
    font-size: 7px;
}

/* NAVIGATION MENU
*/

.nav-bar {
    width: 100% !important
}

.nav-item .dropdown-menu {
    text-align: -webkit-left;
    background-color: rgba(62, 62, 62, 0.5);
    margin-top: 10px; /* Experiment to move the dropdown menu down */
}

.nav-item .dropdown-menu .dropdown-item {
    color: #ffffff;
    background-color: transparent;
}

.nav-item .dropdown-menu .dropdown-item:hover {
    /* color: #030303; */
    background-color: #555555;
}

/* CSS rule to style the footer */
.footer {
    color: #FFF;
    background-color: #760003;
    height: 50px;
}

.navbar-text > a {
    color: rgb(255, 255, 255);
    font-size: 8px;
    text-decoration: none;
}

.navbar-text > p {
    color: rgb(64, 228, 15);
    font-size: 15px;
    text-decoration: none;
}

.copyright {
    padding-top: 13px;
}

.social {
    padding-top: 0px;
}

.container-fluid, .row, .col-sm-10 {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

/* Info box for hovering over body */
.celestial-infobox {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #ffffff44;
    max-width: 300px;
    transform: translate(-50%, -100%);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

    .celestial-infobox.visible {
        opacity: 1;
    }

/* Persistent info box for following object */
.followed-infobox {
    position: absolute;
    right: 0;
    margin: 1rem 1rem;
    min-width: 9rem;
    max-height: 100%;
    transform: none;
    pointer-events: auto;
    opacity: 0;
    transition: opacity 0.3s ease;
}

    .followed-infobox.visible {
        opacity: 1;
    }

    .followed-infobox button {
        position: absolute;
        background-color: rgb(0,0,0,0.8);
        color: #fff;
        border-radius: 5px;
        border: 2px solid #ffffff33;
        margin: 0rem 1rem;
    }

/* Info box styling */

.info-title {
    margin: 0 0 0.5rem 0;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}

.info-subtitle {
    margin: 0 0 0.5rem 0;
    color: #ffffff44;
    font-family: 'Oswald', sans-serif;
    font-size: large;
}

.info-description {
    margin: 0;
    color: #ffffff44;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
}

.info-button {
    display: none
}

    .info-button.visible{
        display: block
    }

/* Settings Toggle */
.settings-toggle {
    position: fixed;
    margin: 1rem 1rem;
    padding: .5rem .5rem;
    border-radius: 5px;
    border: 0px solid #ffffff44;
    left: 0;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s ease;
  }
  
    .settings-toggle .fa-gear {
        font-size: 24px;
        color: rgba(255, 255, 255, 0.5);
        transition: color 0.3s ease, transform 0.3s;
    }
    
    .settings-toggle:hover .fa-gear {
        color: #fff;
        transform: rotate(90deg);
    }
    
    .settings-toggle.active .fa-gear {
        transform: rotate(180deg);
    }
  
/* Settings Box */
.settings-box {
    position: fixed;
    left: 0;
    margin: 1rem 1rem;
    padding: 0rem 2.2rem;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    border: 2px solid #ffffff33;
    width: max-content;
    max-width: 50%;
    opacity: 0;
    /* transform: translate(-20px,-20px); */
    transition: all 0.3s ease;
    pointer-events: none;
}
  
    .settings-box.visible {
        opacity: 1;
        /* transform: translate(0,0); */
        pointer-events: auto;
    }

    .setting-group {
        margin: 1rem 0;
      }
      
        .setting-group label {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            /* display: block; */
            color: #ffffff;
            /* margin-right: 0rem; */
            font-family: 'Open Sans', sans-serif;
            text-align: left;
        }
        
        .setting-group span {
            color: #00ff9d;
            /* display: inline-block;
            right: 0; */
            min-width: 2rem;
            text-align: right;
        }
      
        .setting-group input[type="range"] {
            width: 100%;
        }

        .setting-group input[type="checkbox"] {
            margin-left: 1rem;
            transform: scale(1.2);
          }

@media (min-width: 576px) {

    body {
        background-color: rgb(202, 181, 181);
    }

    /* CSS rule to style the footer */
    .footer {
        background-color: #257600;
        height: 60px;
    }

    .navbar-text > a {
        font-size: 10px;
    }

    .navbar-text > p {
        color: rgb(228, 75, 15);
        font-size: 18px;
    }

    .copyright {
        padding-top: 20px;
    }

    .social {
        padding-top: 7px;
    }

    .followed-infobox {
        max-width: 50%;
    }

}


/* Medium devices (tablets, 768px and up)
*/
@media (min-width: 768px) { 
    
    body {
        background-color: rgb(218, 216, 148);
    }
    
    /* CSS rule to style the mobile logo */

    h1 {
        font-size: 41px;
    }

    h2 {
        font-size: 43px;
    }

    h3 {
        font-size: 31px;
    }

    p, ul, li {
        font-size: 10px;
    }

    /* CSS rule to style the footer */
    .footer {
        background-color: #b890b1;
        height: 60px;
    }

    .navbar-text > a {
        font-size: 10px;
    }

    .navbar-text > p {
        color: rgb(12, 5, 3);
        font-size: 18px;
    }

    .copyright {
        padding-top: 20px;
    }

    .social {
        padding-top: 7px;
    }

    .followed-infobox {
        max-width: 35%;
    }
}

/* Large devices (desktops, 992px and up)
*/
@media (min-width: 992px) { 
    
    body {
        background-color: rgb(185, 185, 178);
    }

    h1 {
        font-size: 59px;
    }

    h2 {
        font-size: 65px;
    }

    h3 {
        font-size: 40px;
    }

    p, ul, li {
        font-size: 14px;
    }

    /* CSS rule to style the footer */
    .footer {
        background-color: grey;
        height: 75px;
    }

    .navbar-text > a {
        font-size: 15px;
    }

    .navbar-text > p {
        color: rgb(12, 5, 3);
        font-size: 23px;
    }

    .copyright {
        padding-top: 20px;
    }

    .social {
        padding-top: 7px;
    }

    .followed-infobox{
        max-width: 25%
    }
}